/*Global Ajustment*/
:root {
    --text-white-color: white;
    --text-main-color: rgb(182, 181, 181);
    --background-black: rgb(39, 38, 38);
    --background-blue: rgb(14, 146, 163);
    --border-color: rgb(189, 189, 189);
    --link-color: rgb(27, 89, 224);
    --btn-color-blue: rgb(45, 151, 177);
}
* {
    font-family: cursive;
}
h1 {
    font-size: 1.5rem;
    font-weight: 700;
}
h2 {
    font-size: 1rem;
}
.active {
    color: var(--text-white-color)!important; 
}
/* HEADER SECTION*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-black);
    height: 70px;
    color: white;
}
.header-profile{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.header-nav {
    flex:1;
}
.header-nav ul {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    color: var(--text-main-color);
}
.header-btn {
    flex:2;
    display: flex;
    justify-content: space-around;
}
.header-btn button {
    padding: 3px 20px;
    background-color: var(--btn-color-blue);
    border: none;
    color: var(--text-white-color);
}
.header-btn button:hover {
    background-color: var(--text-white-color);
    color: var(--btn-color-blue);
    cursor: pointer;
}



/* MAIN SECTION CARD*/
.main {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-card {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    border: 2px solid var(--border-color);
    position: relative;
}
.main-background {
    height: 80px;
    width: 100%;
    background-color: var(--background-blue)
}
.main-description {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    padding-left: 2rem;
}
.main-description h1{
    margin-top: 2.4rem;
    margin-bottom: 0.5rem;
}

.main-user-icon {
    position: absolute;
    top: 9%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: invert(100%);
    border: 3px solid var(--border-color);
}
.main-map, .main-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    gap: 10px;
    margin: 0.6rem 0 0.6rem 0;
}
.main-icon {
    width: 6%;
}
.main-gear {
    color: var(--link-color);
    text-decoration: underline;
}
.main-edit img:hover, .main-gear:hover{
    cursor: pointer;
}
.main-section p {
    margin: 7px 0 7px 0;
}