/*Global Ajustment*/
:root {
    --text-white-color: white;
    --text-main-color: rgb(182, 181, 181);
    --background-black: rgb(39, 38, 38);
    --background-blue: rgb(14, 146, 163);
    --border-color: rgb(189, 189, 189);
    --link-color: rgb(27, 89, 224);
    --btn-color-blue: rgb(45, 151, 177);
}
* {
    font-family: cursive;
}
h1 {
    font-size: 1.5rem;
    font-weight: 700;
}
h2 {
    font-size: 1rem;
}
body {
    overflow: scroll;
}
.active {
    color: var(--text-white-color)!important; 
}
.cursor-pointer {
    cursor: pointer;
}
/* HEADER SECTION*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-black);
    height: 70px;
    color: var(--text-white-color)
}

.header-profile{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.header-nav {
    flex:1;
}
.header-nav ul {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
    color: var(--text-main-color);
}
.header-btn {
    flex:2;
    display: flex;
    justify-content: space-around;
}
.header-btn button {
    padding: 3px 20px;
    background-color: var(--btn-color-blue);
    border: none;
    color: var(--text-white-color);
}
.header-btn button:hover {
    background-color: var(--text-white-color);
    color: var(--btn-color-blue);
    cursor: pointer;
}

/* CONTENT*/
.content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 0;
    margin-top: 2rem;

}
/* MAIN SECTION CARD*/
.main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
    flex-direction: column;
    flex: 1;
}
.user-card {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    border: 2px solid var(--border-color);
    position: relative;
    flex: 1;
}
.user-background {
    height: 80px;
    width: 100%;
    background-color: var(--background-blue)
}
.user-description {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    padding-left: 2rem;
}
.user-section h2{
    font-size: 30px;
    font-weight: 550;
    margin-top: 2.4rem;
    margin-bottom: 0.5rem;
}

.user-user-icon {
    position: absolute;
    background-image: url(../icons/user-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 9%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: invert(100%);
    border: 3px solid var(--border-color);
}
.user-map, .user-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    gap: 10px;
    margin: 0.6rem 0 0.6rem 0;
}
.user-icon {
    width: 6%;
}
.user-gear {
    color: var(--link-color);
    text-decoration: underline;
}
.user-edit img:hover, .user-gear:hover{
    cursor: pointer;
}
.user-section p {
    margin: 7px 0 7px 0;
}
/* EDUCATION SECTION*/

.education {
    flex: 1;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.education-header {
    background-color: var(--background-black);
    width: 100%;
    padding: 1rem 2px;
    color: var(--text-white-color);
    text-align:initial;
}
.education-header h2 {
    padding-left: 1rem;
}
.education-list {
    width: 100%;
    border: 2px solid var(--border-color);
    border-top: none;
    
}
.education-list-items ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.education-title,
.education-data,
.education-merits {
    padding: 0.4rem;
    padding-left: 1rem;
}
.education-title {
    font-size: 1.5rem;
    font-weight: 700;
}
.education-data {
    color: var(--text-main-color);
    font-size: 1.2rem;
}
.education-merits {
    font-size: 1.2rem;
}

/* ASIDE SECTION*/
.aside {
    gap: 2rem;
    flex: 0.7;
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column; */
    align-items: center;
}
.aside-content { 
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.aside-connection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-title {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    background-color: var(--background-black);
    background-size: cover;
    color: var(--text-white-color);
    margin: 0;
    padding: 3px 2px;
}

.aside-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--border-color);
    color: var(--background-black);
    text-align: center;
    width: 18%;
    height: 30px;
    border-radius: 50%;
}
.aside-request {
    border: 2px solid var(--border-color);
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 0.7rem;
    
}
.aside-request-info {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
.aside-request-userinfo {
    display: flex;
    gap: 10px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
.aside-request-useracept {
    display: flex;
    gap: 10px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
.aside-request-icon {
    background-image: url(../icons/user-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.aside-request-accept {
    flex: 1;
    background-image: url(../icons/accept-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.aside-request-deny {
    flex: 1;
    background-image: url(../icons/close-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 30px;
    height: 30px;
}
.aside-request-accept,
.aside-request-deny:hover {
    cursor: pointer;
}
.aside-your-connections {
    width: 250px;
}
.aside-your-connections .aside-request-info {
    flex: 1;
    margin: 5px;
    justify-content: flex-start;
}
.aside-request-name {
    flex: 2;
}
.aside-view-more {
    flex: 1;
    width: 87%;
    width: 0 20rem;
    padding: 1rem;
    border-top: solid 1px var(--border-color);
}